@using AllanNovalta.GradePortal.Web.Infrastructure.Data.Models;
@model AllanNovalta.GradePortal.Web.ViewModels.Users.IndexViewModel;

@{
    ViewData["Title"] = "View Grade";
}

<h2>Users</h2>
<ul>
    @{foreach (User user in Model.Users)
        {
            <li>@user.FullName    @user.Gender.ToString()  @user.EmailAddress</li>
        }
    }
</ul>
